.gradient{
	-fx-background-color: linear-gradient(to bottom right,#0f6789,#286155);
}
.head-label{
	-fx-border-color :#286155;
	-fx-border-width: 0 0 0 5px;
	-fx-padding: 0 0 0 5px;
	-fx-color: #286155;
}
.login-btn{
	-fx-background-color: linear-gradient(to bottom right,#098c53,#286155);
	-fx-border-radius: 5px;
	-fx-cursor: hand;
	-fx-text-fill: #fff;
	-fx-font-size: 14px;
}
.login-btn:hover{
	-fx-background-color: linear-gradient(to bottom right,#0fb565,#399a8f);
}
.textfield{
	-fx-background-color : transparent;
	-fx-border-color: linear-gradient(to bottom right, #0f6789,#286155);
	-fx-border-width: .5px;
}
.textfield:focused{
	-fx-border-width: 1px;
}
.create-btn{
	-fx-background-color: transparent;
	-fx-cursor: hand;
	-fx-text-fill: #fff;
	-fx-border-color: #fff;
	-fx-border-width: 1px;
}
.create-btn:hover{
	-fx-background-color: #fff;
	-fx-text-fill: #000;
}